body,html{
  height: 100%;
  width: 100%;
  overflow: hidden;
  -moz-user-select : none;
  -webkit-user-select: none;
}
* {
  box-sizing: border-box;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.letter-tight{
  letter-spacing:-3px;
}
.letter-tight.poke-joker{
  letter-spacing:0;
}

.page-container{
  overflow: hidden;
  box-sizing: border-box;
}
.app-bg{
  background: url(../assets/svg/bg1.svg) no-repeat top left;
  background-size: 100% 100%;
}
.analogue-container{
  height: 120px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  width: 46%;
}
.analogue-container + .analogue-container{
  width: 50%;
}

.print-text{
  text-shadow: 2px -2px 5px #fff, 7px 3px 10px #fff, -6px -9px 15px #fff, 0 0 20px #00a67c, 0 0 35px #00a67c, 0 0 40px #00a67c, 0 0 50px #00a67c;
  font-size: 24px;
  color: #00a67c;
  font-family: "STXinwei" ,"STKaiti","LiSu","Xingkai SC","STXingkai", "KaiTi";
}
.row-reverse{
  flex-flow: row-reverse !important;
  justify-content: start;
}
.marginL{
  margin-right: 30px;
}
.poke-view-container{
  display: flex;
  justify-content: center;
  > div{
    width:22px;
  }
  .poke-screen{
    position: relative;
    font-size: 16px;
    cursor: auto;
    font-weight: 700;
    width: 52px;
    height: 70px;
    border: 1px solid #333;
    border-radius: 8px;
    padding:4px  4px;
    background: #eee;
    display: flex;
    flex-flow: column;
    overflow: hidden;
  }
  .poke-red{
    color: #d50e0e;
  }
  .poke-checked{
    transform: translateY(-14px);
  }
  .poke-joker{
    text-indent: 3px;
    writing-mode:vertical-lr
  }
}